.my_profile{
}

.my_heart{
    color: red;
	cursor: pointer;
}

@media(min-width: 900px){ /*Desktop*/
	.container #img-profile{
		margin-bottom: 16px;
	}
    .margin-well{
        margin-top: 16px;
    }
}

@media(max-width: 767px){ /*Mobile and Tablet*/
    .margin-well{
        margin-top: 10px;
    }
}


.animatedLike {
  width: 100px;
  height: 100px;
  background: url(../pictures/like_button.png) no-repeat;
  background-position: 0 0;
  transition: background 1s steps(28);
}


.animationLike { 
  background-position: -2800px 0;
}