.welcome{
  position: absolute;
  display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 vertical-align: middle;
}
/*
.navbar{
  background-color: red;
}
.header_style{
  background-color: red;
}

.test{
  background-color: red;
  
}*/

h1 a {
  color: white;
  font-size: 40px;
  margin-left: 0;
  font-style: italic;
}

h1 a:hover{
  text-decoration: none;
}

.button{
  font-size: 30px;
  text-decoration: none;
  position: relative;
  text-align: center;
  margin-top: 40px;
}

.button a:hover, a:active, a:visited{
  text-decoration: none;
}

.button_style{
  margin: 0px 20px;
}

#video{
min-height: 100%;
min-width: 100%;
float: left;
top: 80px;
padding: none;
position: fixed;
opacity: 0.8;
}