.changeChat{
  cursor: pointer;
}

.chatList{
  /*float: left;*/


}

.all {
  vertical-align: top;
  display: inline-block;
  margin-right: 5vw;
}

.contain{
  width: 100%;
  display: inline-block;
}
