.changeChat{
  cursor: pointer;
  border-bottom: 1px solid black;
  list-style: none;
  padding: 15px;

}

.chatList{
}

.all {
  vertical-align: top;
  display: inline-block;
  margin-right: 4vw;
}

.contain{
  width: 100%;
  display: inline-block;
  text-align: center;

}
